{% load sekizai_tags i18n form_builder_tags cms_tags %}{% spaceless %}
    <div id="data{{ instance.id|safe }}{{ form.slug }}" class="form-div{% if form.bound %} was-validated{% endif %}">
        <div class="all-invalid alert alert-block alert-danger d-none">
            <ul class="m-0">
            </ul>
        </div>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% empty %}
            {% render_form form %}
        {% endfor %}
        {% if instance.child_plugin_instances %}
            {% if instance.captcha_widget == "v2-checkbox" %}
                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
            {% elif instance.captcha_widget == "v2-invisible" %}
                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}" data-size="invisible"></div>
            {% endif %}
        {% endif %}
    </div>{% endspaceless %}
{% if instance.config.captcha_widget %}
{% addtoblock 'js' %}{% spaceless %}
    <script type="text/javascript">
      var reCaptchaOnLoadCallback = function () {
          window.recaptcha_loaded = true;
      };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaOnLoadCallback&render=explicit" async defer></script>
{% endspaceless %}{% endaddtoblock %}
{% endif %}
{% addtoblock 'js' %}{% spaceless %}
    <script>
        function djangocmsfrontend_form(form) {
            function feedback(node, data) {
                console.log(data);
                if (data.result === 'success') {
                    /* if (typeof($(node).data().success) === "function") {
                        $(node).data().success();
                    } */
                    node.replaceWith(function () {
                        return $(data.content).hide().fadeIn();
                    });
                } else if (data.result === 'result') {
                    $(node).find(".all-invalid").addClass("d-none")
                        .find("li").remove();
                    $(node).find('.form-group')
                        .addClass('has-feedback has-success is-valid')
                        .removeClass('has-error is-invalid')
                        .find('.invalid-feedback').remove();
                    $(node.data("results")).html(function () {
                        return $(data.content).hide().fadeIn();
                    });
                    if (typeof($(node).data().success) === "function") {   // success function attached to form tag?
                        $(node).data().success();
                    }
                } else if (data.result === 'invalid form') {
                    for (let invalid of node.getElementsByClassName('all-invalid')) {
                        invalid.classList.add('d-none');
                        for (let li of invalid.getElementsByTagName("li")) {
                            li.remove();
                        }
                    }
                    for (let invalid of node.getElementsByClassName('invalid-feedback')) {
                        invalid.remove();
                    }
                    for (const [key, value] of Object.entries(data.field_errors)) {
                        for (const err of value) {
                            if (key.substring(0,7) !== "__all__") {
                                let msg = document.createElement('template');
                                msg.innerHTML = "<div class='invalid-feedback'><strong>" + err + "</strong></div>";
                                document.getElementById(key).after(msg.content);
                            } else {
                                let msg = document.createElement('template');
                                msg.innerHTML = "<li>" + err + "</li>";
                                for (let invalid of node.getElementsByClassName('all-invalid')) {
                                    invalid.classList.remove('d-none');
                                    let ul = invalid.getElementsByTagName("ul");
                                    if (ul.length > 0) {
                                        ul[0].appendChild(msg.content);
                                    }
                                }
                            }
                        }
                    }
                    // make invalid fields visible in collapsed sections
                    for(let collapse of node.getElementsByClassName('collapse')) {
                        if (collapse.getElementsByClassName('invalid-feedback').length > 0) {
                            collapse.classList.adD('show');
                        }
                    }
                    // $(node).find(".form-div").html(data.html);  {# div#data{{instance.id}}{{form.slug}} #}
                    node.classList.add('was-validated');
                } else if (data.result === 'error') {
                    alert(data.errors[0]);
                }
                if ('redirect' in data) {
                    if (data.redirect !== '' && data.redirect !== 'result')
                    window.location.href = data.redirect;
                }
            }

            function post_ajax(node) {
                fetch(node.getAttribute('action'),{
                    method: 'POST',
                    body: new URLSearchParams(new FormData(node)),
                    }
                ).then(function (data) {
                    return data.json();
                }).then(function (json) {
                    feedback(node, json);
                }).catch(function (json) {
                    console.log(json);
                    alert("{% trans 'Network connection or server error. Please try again later. We apologize for the inconvenience.' %}");
                });

            }

            console.log("Form", form);
            let recaptcha = form.getElementsByClassName('g-recaptcha');
            if (recaptcha.length === 1) {
                let checkExist = setInterval(function () {
                    if (window.hasOwnProperty("recaptcha_loaded")) {
                        clearInterval(checkExist);
                        let gid = grecaptcha.render(recaptcha[0], {
                            "callback": function (token) {
                                form.getElementsByClassName("g-recaptcha-response")[0].value = token;
                                post_ajax(form);
                                grecaptcha.reset(gid);
                            },
                        });
                        if(!form.dataset.submitEvent) {
                            form.dataset.submitEvent = true;
                            form.addEventListener('submit', function (event) {
                                event.preventDefault();
                                grecaptcha.execute(gid);
                            });
                        }

                    }
                }, 100);
            } else {
                if(!form.dataset.submitEvent) {
                    form.dataset.submitEvent = true;
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        post_ajax(form);
                    });
                }
            }
        }
    </script>
{% endspaceless %}{% endaddtoblock %}
{% addtoblock 'js' %}<script>
    window.addEventListener('DOMContentLoaded', function (event) {
        console.log("DOMContentLoaded");
        var collection = document.getElementsByClassName('djangocms-frontend-ajax-form');
        console.log("Collection", collection);
        for (var i = 0; i < collection.length; i++) {
            djangocmsfrontend_form(collection[i]);
        }
    });
    {% if request.toolbar and request.toolbar.edit_mode_active %}
        CMS.$(window).on('cms-content-refresh', function () {
            CMS.$(".djangocms-frontend-ajax-form").each(djangocmsfrontend_form);
    });{% endif %}
</script>{% endaddtoblock %}
