include LICENSE
include CHANGELOG.rst
include README.rst
recursive-include djangocms_form_builder/locale *
recursive-include djangocms_form_builder/static *
recursive-include djangocms_form_builder/templates *
recursive-exclude * *.py[co]
